In [1]:
import pandas as pd
import numpy as np

In [7]:
A=pd.read_csv('final_train_data.csv')
B=pd.read_csv('final_test_data.csv')

In [4]:
A.head()

,Unnamed: 0,Country Name,Country Code,Year,Balance,Inflation,GDP,Exports,Trade
0,0,Senegal,SEN,1983,-3.043829e+08,9.274213,-5.326393,6.180000e+08,59.224298
1,1,Togo,TGO,2009,-1.766692e+08,1.855275,3.510297,9.030260e+08,76.242542
2,2,Pakistan,PAK,1992,-1.876092e+09,10.057085,7.705898,7.351000e+09,34.489440
3,3,Nepal,NPL,1988,-2.714506e+08,11.815310,7.696809,1.900000e+08,24.978422
4,5,Malta,MLT,2016,7.269132e+08,1.604548,5.516617,3.017299e+09,83.781471

In [12]:
A.drop(A.columns[0],axis=1,inplace=True)

In [13]:
B.drop(B.columns[0],axis=1,inplace=True)

In [14]:
B.isnull().sum()

Country Name    0
Country Code    0
Year            0
Inflation       0
GDP             0
Exports         0
Trade           0
dtype: int64

In [15]:
A.isnull().sum()

Country Name      0
Country Code      0
Year              0
Balance           0
Inflation       245
GDP             244
Exports          16
Trade           202
dtype: int64

In [17]:
B.head()

,Country Name,Country Code,Year,Inflation,GDP,Exports,Trade
0,Cyprus,CYP,2001,3.657166,3.600665,9.760000e+08,46.359979
1,Benin,BEN,1995,15.099452,6.045199,4.200000e+08,53.726740
2,Bangladesh,BGD,1995,7.144939,5.121278,3.501000e+09,26.871554
3,Paraguay,PRY,1978,9.706191,12.028730,2.569700e+08,27.230654
4,Morocco,MAR,1987,3.014808,-0.325004,2.826000e+09,32.418633

In [26]:
import seaborn as sns
import matplotlib.pyplot as plt

In [45]:
A.shape

(4506, 8)

In [46]:
B.shape

(1071, 7)

In [47]:
A.isnull().sum()

Country Name      0
Country Code      0
Year              0
Balance           0
Inflation       245
GDP             244
Exports          16
Trade           202
dtype: int64

In [50]:
l1=list(A[A['Inflation'].isnull()]['Country Name'])

In [53]:
l2=list(A[A['Inflation'].isnull()].index)

In [54]:
for i in range(0,len(l2)):
    A.loc[l2[i],'Inflation']=A[A['Country Name']==l1[i]]['Inflation'].median()

In [56]:
l3=list(A[A['GDP'].isnull()]['Country Name'])

In [57]:
l4=list(A[A['GDP'].isnull()].index)

In [58]:
for i in range(0,len(l3)):
    A.loc[l4[i],'GDP']=A[A['Country Name']==l3[i]]['GDP'].median()

In [59]:
A.isnull().sum()

Country Name      0
Country Code      0
Year              0
Balance           0
Inflation         0
GDP               0
Exports          16
Trade           202
dtype: int64

In [60]:
l5=list(A[A['Exports'].isnull()]['Country Name'])

In [61]:
l6=list(A[A['Exports'].isnull()].index)

In [62]:
for i in range(0,len(l6)):
    A.loc[l6[i],'Exports']=A[A['Country Name']==l5[i]]['Exports'].median()

In [63]:
l7=list(A[A['Trade'].isnull()]['Country Name'])
l8=list(A[A['Trade'].isnull()].index)

In [64]:
for i in range(0,len(l7)):
    A.loc[l8[i],'Trade']=A[A['Country Name']==l7[i]]['Exports'].median()

In [65]:
A.isnull().sum()

Country Name    0
Country Code    0
Year            0
Balance         0
Inflation       0
GDP             0
Exports         0
Trade           0
dtype: int64

In [67]:
B.isnull().sum()

Country Name    0
Country Code    0
Year            0
Inflation       0
GDP             0
Exports         0
Trade           0
dtype: int64

In [68]:
A.head()

,Country Name,Country Code,Year,Balance,Inflation,GDP,Exports,Trade
0,Senegal,SEN,1983,-3.043829e+08,9.274213,-5.326393,6.180000e+08,59.224298
1,Togo,TGO,2009,-1.766692e+08,1.855275,3.510297,9.030260e+08,76.242542
2,Pakistan,PAK,1992,-1.876092e+09,10.057085,7.705898,7.351000e+09,34.489440
3,Nepal,NPL,1988,-2.714506e+08,11.815310,7.696809,1.900000e+08,24.978422
4,Malta,MLT,2016,7.269132e+08,1.604548,5.516617,3.017299e+09,83.781471

In [72]:
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, AdaBoostRegressor

In [73]:
A.drop('Country Name',axis=1,inplace=True)
B.drop('Country Name',axis=1,inplace=True)

In [74]:
A.head()

,Country Code,Year,Balance,Inflation,GDP,Exports,Trade
0,SEN,1983,-3.043829e+08,9.274213,-5.326393,6.180000e+08,59.224298
1,TGO,2009,-1.766692e+08,1.855275,3.510297,9.030260e+08,76.242542
2,PAK,1992,-1.876092e+09,10.057085,7.705898,7.351000e+09,34.489440
3,NPL,1988,-2.714506e+08,11.815310,7.696809,1.900000e+08,24.978422
4,MLT,2016,7.269132e+08,1.604548,5.516617,3.017299e+09,83.781471

In [75]:
le=LabelEncoder()

In [77]:
A['Country Code']=le.fit_transform(A['Country Code'])

In [78]:
B['Country Code']=le.transform(B['Country Code'])

In [79]:
x=A.drop('Balance',axis=1)
y=A['Balance']

In [81]:
lr=LinearRegression()
rfr=RandomForestRegressor()
gbr=GradientBoostingRegressor()
abr=AdaBoostRegressor()
sc=StandardScaler()

In [82]:
x_scaled=sc.fit_transform(x)
B_scaled=sc.transform(B)

In [83]:
ypre=lr.fit(x_scaled,y).predict(B_scaled)

In [84]:
S=pd.read_excel('mlds_sample_submission.xlsx')

In [86]:
S['Balance']=ypre

In [87]:
S.to_excel('lr.xlsx')

In [88]:
ypre=rfr.fit(x_scaled,y).predict(B_scaled)

In [89]:
S['Balance']=ypre

In [90]:
S.to_excel('rfr.xlsx')

In [91]:
ypre=gbr.fit(x_scaled,y).predict(B_scaled)

In [92]:
S['Balance']=ypre

In [93]:
S.to_excel('gbr.xlsx')

In [94]:
ypre=abr.fit(x_scaled,y).predict(B_scaled)

In [95]:
S['Balance']=ypre

In [96]:
S.to_excel('abr.xlsx')